WebApiSource/AUA.ProjectName/.vs
WebApiSource/AUA.ProjectName/AUA.ProjectName.WebApi/obj
WebApiSource/AUA.ProjectName/AUA.ProjectName.Common/bin
WebApiSource/AUA.ProjectName/AUA.ProjectName.DataLayer/bin
WebApiSource/AUA.ProjectName/AUA.ProjectName.DomainEntities/bin
WebApiSource/AUA.ProjectName/AUA.ProjectName.InMemoryServices/bin
WebApiSource/AUA.ProjectName/AUA.ProjectName.ManualMapping/bin
WebApiSource/AUA.ProjectName/AUA.ProjectName.Models/bin
WebApiSource/AUA.ProjectName/AUA.ProjectName.Services/bin
WebApiSource/AUA.ProjectName/AUA.ProjectName.Tests/bin
WebApiSource/AUA.ProjectName/AUA.ProjectName.ValidationServices/bin
WebApiSource/AUA.ProjectName/AUA.ProjectName.WebApi/bin
WebApiSource/AUA.ProjectName/AUA.ProjectName.ValidationServices/obj
WebApiSource/AUA.ProjectName/AUA.ProjectName.Tests/obj
WebApiSource/AUA.ProjectName/AUA.ProjectName.Services/obj
WebApiSource/AUA.ProjectName/AUA.ProjectName.Models/obj
WebApiSource/AUA.ProjectName/AUA.ProjectName.ManualMapping/obj
WebApiSource/AUA.ProjectName/AUA.ProjectName.InMemoryServices/obj
WebApiSource/AUA.ProjectName/AUA.ProjectName.DomainEntities/obj
WebApiSource/AUA.ProjectName/AUA.ProjectName.DataLayer/obj
WebApiSource/AUA.ProjectName/AUA.ProjectName.Common/obj
